
<div class="card"  [style.height]="textBoxHeight">
  <div>
    <h4>Assunto da pergunta aparece aqui</h4>
    <p>Carlos Henrique Santos</p>
  </div>
  <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto
    de processo formativo situado impacto de processo formativo processo?</p>

  <div class="infos">
    <img src="../assets/mais.svg" alt="">
    <img src="../assets/favoritar.svg" alt="">
    <p>4 Likes</p>
    <p  (click)="toggleText()" >1 respostas</p>
  </div>
