main {
  margin: 0% 5%;

  box-sizing: border-box;
}
.comeco {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  h3 {
    color: #ed7839;
    font-size: 1.6rem;
    width: 60%;
  }

  button {
    background: #ed7839;
    border: #ed7839;
    color: #fff;
    align-items: center;
    display: flex;
    height: 35px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 40px;
    display: flex;
    justify-content: center;
  }
  .divisao {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h4 {
      color: #ed7839;
      font-size: 0.9rem;
    }
  }

  .botoes {
    display: flex;
    gap: 2%;
    margin-top: 15%;
  }

  .botoes button:nth-child(1) {
    width: 150px;
    display: flex;
    justify-content: center;
  }
}

.banner {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .container2 {
    position: relative;
    width: auto;
    z-index: 1;

    .container {
      background-color: rgba(141, 53, 6, 0.5);
      img {
        width: 100%;
        opacity: 37%;
      }
    }

    .texto-sobre-imagem {
      position: absolute;
      top: 12%;
      left: 43%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 22px;
      font-weight: bold;
      z-index: 3;
      width: 80%;
    }

    .texto-2-sobre-imagem {
      position: absolute;
      top: 70%;
      left: 43%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      z-index: 3;
      width: 80%;
      display: flex;
      gap: 5%;

      img {
        border-radius: 50%;
        border: 3px solid #ed7839;
      }
    }
  }

  .detalhes {
    width: 20%;
    height: auto;
    border: solid 1px #ececec;

    h3 {
      background: #fdf1eb;
      padding: 5%;
      font-weight: 600;
      margin: 0%;
    }

    .texto {
      padding: 5%;
      color: #5c5c5c;
      font-weight: 100;
      display: flex;
      flex-direction: column;
      gap: 30px;
      height: auto;
      list-style: none;

      .fisicos {
        font-size: 18px;
        font-weight: 300;
      }
    }
  }
}

.mainn {
  margin-top: 1%;

  h3 {
    color: #4e4e4e;
    background: #fdf1eb;
    width: 100%;
    padding: 1%;
    margin: 0;
  }



  .text-box {
    border: solid 1px #ececec;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 5%;
  }

  .text {
    height: 100px;
    overflow: hidden;
  }

  .read-more-btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    position: relative;
    left: 91%;
    background: none;
    color: #ed7839;
  }
}

.capsula {
  padding: 2%;
}
.card {
  border: solid 1px #e7e7e7;
  width: 100%;
  height: 200px;
  margin-bottom: 2%;
  box-shadow: 0 4px 27px -6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;

  p {
    width: 78%;
  }

  .infos {
    display: flex;
    width: 19%;
    gap: 10px;
    align-items: center;
    margin-top: 2%;
  }
}

.resposta {
  width: 100%;
  height: 130px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f8f8f8;
  padding: 2%;
}

.titulo {
  display: flex;
  justify-content: space-between;
  width: 94%;

  p{
    margin-bottom: 2%;
  }

  div {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.resposta2 {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2%;
  margin-bottom: 2%;

.titulo {
  display: flex;
  justify-content: space-between;
  width: 94%;

  p{
    margin-bottom: 2%;
  }

}
}
