.text-box {

  margin: 0 auto;
  overflow: hidden;
}

.text {
  height: 100px; /* Defina a altura desejada para exibir a metade do texto */
  overflow: hidden;
}

.read-more-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  position: absolute;
}

.read-more-btn:hover {
  background-color: #0056b3;
}
