<div class="content" role="main">

  <div id="required-elements" class="required-elements">
    <div class="nav">
      <div class="titulo">
        <h2>SLACA 2019</h2>
      </div>
      <img src="../assets/image 1.png" alt="logo">
      <ul>
        <li>Apresentação</li>
        <li>Comitês</li>
        <li>Autores</li>
        <li>Eixos temáticos</li>
        <li>Trabalhos</li>
        <li>Contato</li>
      </ul>
    </div>
    <div>
      <div class="topo">
        <div class="textos">
          <p>Anais do Simpósio Latino Americano de Ciências de Alimentos </p>
          <p>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </p>
          <p>ISSN: 1234-5678</p>
        </div>
        <div class="language">
          <img src="../assets/language image.svg" alt="icone do globo">
          <p>PT,BR</p>
          <img src="../assets/dropdown.svg" alt="seta para baixo">
        </div>
        <div>

          <div class="bem-vindo">

            <div>
              <p>Bem vindo!</p>
              <p>alguem12&#64;galoascience.com</p>
            </div>

            <img src="../assets/image.png" alt="imagem de perfil">

          </div>

        </div>
      </div>
      <main>
        <section class="comeco">
          <h3>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município
            de
            Campinas/SP</h3>

          <section class="divisao">
            <div class="botoes">
              <button>
                <img src="../assets/download.svg" />
                Download
              </button>
              <button>
                <img src="../assets/favoritar.svg" alt="">
              </button>

              <button>
                <img src="../assets/doi.svg" alt="">
              </button>
            </div>
            <h4>COMO CITAR ESSE TRABALHO?</h4>


          </section>

        </section>
        <section class="banner">
          <div class="container2">
            <div class="container">
              <img src="../assets/dewey 1.png" alt="">
            </div>
            <div class="texto-sobre-imagem">
              <p>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do
                município
                de Campinas/SP</p>
            </div>

            <div class="texto-2-sobre-imagem">
              <div>
                <img src="../assets/image3.png" alt="">
              </div>
              <p>Beatriz Christiane Melo
                FCA / Universidade Estadual de Campinas</p>
            </div>
          </div>


          <div class="detalhes">

            <h3>Detalhes</h3>
            <div class="texto">
              <p>Tipo de Apresentação: <b>Pôster</b>
                Eixo temático: <b>Alimentação e saúde (AS)</b>
                Palavras-chaves:<b>Alimentos funcionais, alimentação escolar.</b> </p>
              <div class="fisicos">
                <p><b>Autores:</b>
                <ul>
                  <li>Galileo Galilei¹</li>
                  <li>Berta Lange de Morretes²</li>
                  <li>Isaac Newton³</li>
                  <li>Cesar Lattes¹</li>
                  <li>Stephen Hawking⁴</li>
                </ul>

              </div>

              <p>¹Universidade Estadual de Campinas
                ²Universidade de São Paulo
                ³Instituto Nacional de Pesquisas Espaciais
                ⁴Universidade Federal do Rio de Janeiro</p>
            </div>
          </div>


        </section>


        <div class="mainn">

          <div class="text-box" (click)="toggleText()">
            <h3>Resumo</h3>
            <div [style.height]="textBoxHeight"
              style="display: flex; flex-direction: column; gap: 40px; padding: 1%;; font-size: 20px;">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut,
                commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros
                sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec
                finibus
                nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et
                non
                lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.
              </p>

              <p>
                Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat.
                Proin dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris
                sodales id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis.
                Etiam
                finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean
                interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in
                laoreet odio.
              </p>

              <p>
                Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec
                eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus
                maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis
                turpis. Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis
                consectetur
                non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque
                orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id
                odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu
                maximus massa.
              </p>

              <p>
                Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
                hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus
                dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem.
                Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat
                vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <button class="read-more-btn">{{ buttonText }}</button>
          </div>

          <section class="discussoes">
            <h3>Discussões</h3>
            <app-discussao></app-discussao>

            <div class="coments">
              <app-comentario></app-comentario>

              <app-comentario></app-comentario>
            </div>
          </section>

          <img src="../assets/imagem - footer.svg" alt="">
        </div>
      </main>

    </div>


  </div>
</div>
