<div class="content" role="main">
  <nav>
    <div class="titulo">
      <h2>SLACA 2019</h2>
    </div>
    <img src="../assets/image 1.png" alt="logo">
    <ul>
      <li>Apresentação</li>
      <li>Comitês</li>
      <li>Autores</li>
      <li>Eixos temáticos</li>
      <li>Trabalhos</li>
      <li>Contato</li>
    </ul>
  </nav>
  <div id="required-elements">

    <div class="topo">
      <div class="textos">
        <p>Anais do Simpósio Latino Americano de Ciências de Alimentos </p>
        <p>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </p>
        <p>ISSN: 1234-5678</p>
      </div>
      <div class="language">
        <img src="../assets/language image.svg" alt="icone do globo">
        <p>PT,BR</p>
        <img src="../assets/dropdown.svg" alt="seta para baixo">
      </div>
      <div>

        <div class="bem-vindo">

          <div>
            <p>Bem vindo!</p>
            <p>alguem12&#64;galoascience.com</p>
          </div>

          <img src="../assets/image.png" alt="imagem de perfil">

        </div>

      </div>
    </div>
    <main>
      <section class="comeco">
        <h3>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
          Campinas/SP</h3>

        <div class="divisao">
          <div class="botoes">
            <button>
              <img src="../assets/download.svg" />
              Download
            </button>
            <button>
              <img src="../assets/favoritar.svg" alt="">
            </button>

            <button>
              <img src="../assets/doi.svg" alt="">
            </button>
          </div>
          <h4>COMO CITAR ESSE TRABALHO?</h4>
        </div>

      </section>
      <section>
        <img src="../assets/dewey 1.png" alt="">
        Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
        Campinas/SP

        Beatriz Christiane Melo
        FCA / Universidade Estadual de Campinas
        <img src="" alt="">

        Detalhes

        Tipo de Apresentação: Pôster
        Eixo temático: Alimentação e saúde (AS)
        Palavras-chaves: Alimentos funcionais, alimentação escolar.

        Autores:
        Galileo Galilei¹
        Berta Lange de Morretes²
        Isaac Newton³
        Cesar Lattes¹
        Stephen Hawking⁴

        ¹Universidade Estadual de Campinas
        ²Universidade de São Paulo
        ³Instituto Nacional de Pesquisas Espaciais
        ⁴Universidade Federal do Rio de Janeiro

      </section>


      <div class="mainn">
        <h3>O elemento de expandir resumo precisa ter a classe .btn-show-more</h3>

        <!-- app.component.html -->

        <div class="text-box" id="text-box">

          <h3>Resumo</h3>
          <div class="text-box" [style.height]="textBoxHeight">
            <div class="text" [style.height]="textBoxHeight">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut,
                commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros
                sed
                magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus
                nisi
                tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non
                lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.

                Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat.
                Proin
                dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris
                sodales
                id. Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam
                finibus urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean
                interdum quis diam ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in
                laoreet odio.

                Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec
                eleifend vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus
                maximus dui eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis
                turpis.
                Praesent blandit elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur
                non odio. Phasellus at lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque
                orci. Quisque sagittis, mi vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id
                odio. Morbi eu libero luctus, consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu
                maximus massa.

                Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
                hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus
                dolor at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem.
                Aliquam at malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat
                vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <button class="read-more-btn" (click)="toggleText()">{{ buttonText }}</button>
          </div>

        </div>


        <a href="#" class="btn-show-more">ver mais</a>

        <h3>O elemento de criar tópico precisa ter a classe .btn-create-topic</h3>

        Discussões

        Compartilhe suas ideias ou dúvidas com os autores!

        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">

        Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus questionamentos
        ou
        sugestões para o autor!
        <button>criar tópico</button>
        <a href="#" class="btn-create-topic">criar tópico</a>

        <h3>O card que contém um tópico respondido precisa ter a classe .answered-topic, o assunto do tópico deve ter a
          classe .ops-topic-subject</h3>
        <div class="answered-topic">
          <h4 class="ops-topic-subject">Título do tópico</h4>
        </div>
        <div class="comments-container">
          Os comentários de um tópico devem estar encapsulados num elemento com a classe .comments-container
        </div>

        <form>
          Assunto:
          <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
          Conteúdo:
          <!-- <input> -->
          <button>Enviar</button>
        </form>
        Assunto da pergunta aparece aqui
        Carlos Henrique Santos
        Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de
        processo formativo situado impacto de processo formativo processo...
        <img src="" alt="mais">
        <img src="" alt="like">
        1 linked_camera1 resposta

        <h3>Após submeter o formulário, a seguinte mensagem deve ser exibida: Aguardando feedback dos autores</h3>
      </div>
    </main>
    <footer>
      <img src="../assets/imagem - footer.svg" alt="">
    </footer>
  </div>


</div>
